@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
	--bg: #09090a;
	--bg-accent: #18181b;
	--primary: #7c3aed;
  --secondary: #a1a1aa;
  --success: #16a34a;
	--font: #ffffff;	
	--font-accent: #f1f1f1;
  --border: #27272a;
}

* {
  font-family: 'Inter', sans-serif;
}

ion-content, ion-toolbar, ion-modal, ion-list-header, ion-item {
  --color: var(--font);
  --background: var(--bg);
}

.custom-loading-spinner {
  --background: transparent;
  --spinner-color: var(--primary);
}

.alert-box .alert-wrapper {
  background: var(--bg-accent);
}

.alert-box .alert-head h2 {
  color: var(--font);
}

.alert-box .alert-message {
  color: var(--font-accent);
}

.alert-box .alert-button {
  color: var(--success);
}
