services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-apache
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:80"
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/var/www/html
      - ./docker/apache/api.conf:/etc/apache2/sites-enabled/000-default.conf
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  database:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 3
      start_period: 10s

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASS}
    ports:
      - "8080:80"
    depends_on:
      database:
        condition: service_healthy

volumes:
  mysql_data:
